form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
input{
    font-size: 1em;
    height: 2rem;
    width: 10rem;
}
button{
    font-size: 1em;
    height: 2rem;
    width: 9.5rem;
    box-sizing: content-box;
}
select{
    font-size: 1em;
    height: 2rem;
    width: 10.5rem;
}
body{
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}